[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Compton
Comment=X11 compositor
Exec=compton -m 0.7 -C -f -G -O 0.06 -I 0.06 -b
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false