#
# managed by saltstack - local modifications WILL be overwritten
#

[server]

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-error=/var/log/mariadb/mariadb.log
pid-file=/run/mariadb/mariadb.pid
bind-address=127.0.0.1

[galera]

[embedded]

[mariadb]

[mariadb-10.3]
