[Desktop Entry]
Type=Application
Version=1.0
Name=Telegram
Comment=Start Telegram at Login
Exec=~/.local/Telegram/Telegram
StartupNotify=false
Terminal=false
