[Desktop Entry]
Type=Application
Version=1.0
Name=Conky
Comment=conky startup script
Exec=/usr/bin/conky -d --pause=5
StartupNotify=false
Terminal=false