[home_phillipberndt]
name=home:phillipberndt (Fedora_{{ ansible_distribution_version }})
type=rpm-md
baseurl=https://download.opensuse.org/repositories/home:/phillipberndt/Fedora_{{ ansible_distribution_version }}/
gpgcheck=1
gpgkey=https://download.opensuse.org/repositories/home:/phillipberndt/Fedora_{{ ansible_distribution_version }}/repodata/repomd.xml.key
enabled=1
