[icingaweb_db]
type                = "db"
db                  = "mysql"
dbname              = "icingaweb2"
username            = "{{ icinga2_db_username }}"
password            = "{{ icinga2_db_password }}"
host                = localhost

[icinga_ido]
type                = "db"
db                  = "mysql"
dbname              = "icinga2"
username            = "{{ icinga2_db_username }}"
password            = "{{ icinga2_db_password }}"
host                = localhost